html, body {height: 100%;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
min-width: 500px;
min-height: 500px;
}

h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
}

div.page-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    flex: 1 1 auto;
}

div.page-header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin-bottom: auto;
}

div.page-content {
    display: flex;
    flex-flow: wrap-reverse;
    border: 2px solid blue;
    margin: 0 50px;
    justify-content: center;
    justify-self: center;
    align-content: flex-end;
    min-height: 70%;
    gap: 50px;
}

div.page-content div.control-panel {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid gray;
    align-content: center;
    justify-content: flex-start;
}

div.page-content div.control-panel button.control-button {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid gray;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    align-content: center;
    justify-content: center;
    font: 18px;
    margin-bottom: 10px;
}


div.page-content div.sketch-grid {
    display: flex;
    flex-flow: row wrap;
    height: 0px;
    width: 46%;
    padding-bottom: 46%;
    border: 1px solid gray;
}

div.page-content div.sketch-grid div.sketch-block.colored {
    background-color: black;
}

div.page-footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border: 2px solid green;
}


